* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(177, 194, 188);
}
header {
  background-color: bisque;
  display: block;
}
.cabeçalho {
  background-color: rgb(8, 30, 59);
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  /* width: 200px;
  height: 200px; */
}
h1 {
  color: #fafafa;
  transition: 0.4s;
  margin-bottom: 0;
}
h1:hover {
  background-color: rgb(0, 255, 115);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: rgb(16, 37, 24);
}

.instrução {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1rem;
  background-color: rgb(215, 217, 235);
  margin-trim: 20px;
  color: rgb(9, 20, 20);
  border-radius: 3.5%;
  width: 600px;
  height: 200px;
  text-align: justify;
  -webkit-font-feature-settings: "liga";
  margin: auto;
  transition: 0.4s;
}
.instrução:hover {
  width: 650px;
  height: 250px;
  background-color: rgb(206, 196, 185);
}
main {
  display: block;
  justify-content: center;
  background-color: rgb(177, 194, 188);
}
.menu_respostas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.menu_respostas > h1 {
  max-width: max-content;
}
input {
  width: 30px;
  height: 25px;
}
.respostas {
  display: flex;
  gap: 50px;
  background-color: #fafafa;
  width: 1080px;
  height: 200px;
  padding: 2rem;
}
.nota1,
.nota2,
.nota3 {
  display: flex;
  text-align: start;
  gap: 2rem;
  padding: 0.3rem;
}

button {
  border: none;
  background-color: green;
  /* margin-top: 50px;
  margin-left: 220px; */
  width: 300px;
  height: 50px;
  transition: 0.4s;
  border-radius: 3px;
  margin-bottom: 0.5rem;
}
button:hover {
  border: none;
  background-color: rgb(0, 255, 115);
  border-radius: 5px;
}
.espaco1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  /* background-color: rgb(8, 30, 59); */
  width: 540px;
}
.nota1 {
}
